body{
	padding:10px;
	
}
.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px;
}

.space-row{
	margin:5px;
}
.style-cielo{
	background:#00aeef!important;
	color: #ffffff!important;
	font-weight: bold!important;
	border-color: #00aeef!important;
	border-radius: initial!important;
}

.label-header-table{
	font-size: 16px!important;
    font-weight: bold!important;
}
.odd{
	background:#f2f2f2!important;
}
.even{
	background:#ffffff!important;
}